[submodule "externals/tsqsim"]
	path = externals/tsqsim
	url = https://github.com/mj-xmr/tsqsim.git
[submodule "externals/croncpp"]
	path = externals/croncpp
	url = https://github.com/mariusbancila/croncpp.git
[submodule "externals/GasPumpOCR-mj"]
	path = externals/GasPumpOCR-mj
	url = https://github.com/mj-xmr/GasPumpOCR-mj.git
	branch = dev-pub
